<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.EmpDao">
	<update id="update" parameterType="Emp">
		update Emp
		<set>
			<if test="(nick != null) and (nick != '')"> nick=#{nick},</if>
			<if test="(pw != null) and (pw != '')">   pw=#{pw},</if>
			<if test="(name != null) and (name != '')"> name=#{name},</if>
			<if test="(phone != null) and (phone != '')">phone=#{phone},</if>
			<if test="(email != null) and (email != '')">email=#{email},</if>
			<if test="deptId > 0">dept_id=#{deptId}</if>
		</set>
		where id=#{id}
	</update>
 </mapper>